{% extends 'registration/base_login.html' %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Create a New Culinary Critic profile</h2>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary btn-block">Create User</button>
                </form>
                <br>
                <p>Already have an account? <a href="{% url 'pro_login' %}">Login here</a></p>
                <p>Not a culinary critic? <a href="{% url 'register' %}">Sign up as a regular user</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
