<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForkFinder</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .card-columns {
            column-count: 3;
        }

        @media (max-width: 768px) {
            .card-columns {
                column-count: 1;
            }
        }

        @media (min-width: 769px) and (max-width: 1024px) {
            .card-columns {
                column-count: 2;
            }
        }

        .scrollable-container {
            height: 80vh;
            overflow-y: auto;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">ForkFinder</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'feed' %}">Feed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_review' %}">Add Review</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'profile_list'%}">All profiles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' request.user.profile.id %}">My Account</a>
                </li>
                <li>
                    <form class="form-inline">
                        <input class="form-control mr-sm-1" type="search" placeholder="Search user" aria-label="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
