{% extends "base.html" %}

{% block content %}
<h2 class="mb-4">Feed</h2>
<ul class="nav nav-tabs" id="feedTabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="friends-tab" data-toggle="tab" href="#friends" role="tab" aria-controls="friends" aria-selected="true">Friends' Advices</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="explore-tab" data-toggle="tab" href="#explore" role="tab" aria-controls="explore" aria-selected="false">Explore</a>
    </li>
</ul>
<div class="tab-content mt-3" id="feedTabsContent">
    <div class="tab-pane fade show active" id="friends" role="tabpanel" aria-labelledby="friends-tab">

        <div class="card-columns">
            {% for followed in user.profile.follows.all %}
                {% for review in followed.user.reviews.all %}
                    {% if review.is_featured %}
                    <div class="card border-primary mb-3">
                        <img src="{{ review.photo.url }}" class="card-img-top" alt="Restaurant Photo">
                        <div class="card-body">
                            <h5 class="card-title">  {{ review.restaurant.name }} <img src="{{ MEDIA_URL }}verified.png" alt="Verified" style="width: 20px; height: 20px;"></h5>
                            <p class="card-text">{{ review.body }}</p>
                            <p class="card-text"><small class="text-muted">Rating: {{ review.rating }}/5</small></p>
                            <p class="card-text"><small class="text-muted">Posted by critic: @{{ followed.user.username }}</small></p>
                
                        </div>
                    </div>
                    {% else %}
                    <div class="card mb-3">
                        <img src="{{ review.photo.url }}" class="card-img-top" alt="Restaurant Photo">
                        <div class="card-body">
                            <h5 class="card-title">{{ review.restaurant.name }}</h5>
                            <p class="card-text">{{ review.body }}</p>
                            <p class="card-text"><small class="text-muted">Rating: {{ review.rating }}/5</small></p>
                            <p class="card-text"><small class="text-muted">Posted by: @{{ followed.user.username }}</small></p>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>

    </div>
    <div class="tab-pane fade" id="explore" role="tabpanel" aria-labelledby="explore-tab">
        <!-- List of recommended restaurants -->
        <div class="card-columns">
            {% for restaurant in recommended_restaurants %}
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ restaurant.name }}</h5>
                    <p class="card-text">{{ restaurant.location }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
