{% extends 'registration/base_login.html' %}

{% block title %}Welcome to Fork Finder{% endblock %}

{% block content %}
<h2>Welcome to Fork Finder</h2>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Normal Login</h4>
                <p class="card-text">Login as a normal user.</p>
                <a href="{% url 'login' %}" class="btn btn-outline-primary">Login</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Pro Login</h4>
                <p class="card-text">Login as a culinary critic.</p>
                <a href="{% url 'pro_login' %}" class="btn btn-outline-primary">Pro Login</a>
            </div>
        </div>
    </div>
    <div class="col-md-12 text-center mt-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Don't have an account? Register now!</h4>
                <a href="{% url 'register' %}" class="btn btn-outline-primary">Register</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
