{% extends "base.html" %}

{% block content %}
<h2>Profiles</h2>

<div class="card-columns">
    {% for profile in profiles %}
    <div class="card mb-4">
        <a href="{% url 'profile' profile.id %}">
        <img src="../media/static/default.jpg" class="card-img-top" alt="default photo">
        <div class="card-body">
            <h5 class="card-title">{{ profile.user.username }}</h5>
            <p class="card-text">@{{ profile.user.username|lower }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
