{% extends "base.html" %}

{% block content %}

<h2>{{profile.user.username}}</h2>

<form method="post">
    {% csrf_token %}
    <div class="btn-group" role="group" aria-label="Basic example">
        {%if profile in user.profile.follows.all%}
            <button type="button" class="btn btn-secondary">Follow</button>
            <button type="button" name="follow" class="btn btn-outline-secondary">Unfollow</button>
        {%else%}
            <button type="button" name="follow" class="btn btn-outline-secondary">Follow</button>
            <button type="button" class="btn btn-secondary">Unfollow</button>
        {%endif%}
    </div>
</form>

<div class="container">
    <h3>Follows: </h3>

    {% for following in profile.follows.all %}
        <div class="card w-50">
            <div class="card-body">
                <h5 class="card-title">{{ following.user.username }}</h5>
                <p class="card-text">@{{ following.user.username|lower }}</p>
            </div>
        </div>
    {% endfor %}
</div>


<div class="container">
    <h3>Is followed by:</h3>

    {% for followed_by in profile.followed_by.all %}
        <div class="card w-50">
            <div class="card-body">
                <h5 class="card-title">{{ followed_by.user.username}}</h5>
                <p class="card-text">@{{ followed_by.user.username|lower }}</p>
            </div>
        </div>
    {% endfor %}
</div>


{% endblock %}